@import "../variables";
@import "../abstracts/mixins";
@import "../abstracts/breakpoints";

.career-detail {
    padding: 100px 0px;

    &__content {
        display: flex;
        flex-direction: column;

        @include media("lg") {
            flex-direction: row;
        }

        &-cv {
            width: 100%;

            @include media("lg") {
                width: 444px;
            }

            & a {
                @include font(35px, 75px, 400);
                color: $font-color-primary;
            }
        }

        &-article {
            width: 100%;

            @include media("lg") {
                width: 100%;
            }

            & h2 {
                @include font(28px, 35px, 400);

                @include media("lg") {
                    @include font(40px, 65px, 400);
                }
            }

            &-btn {
                margin-top: 20px;
                text-align: center;

                & button {
                    background: #ffecdb;
                    color: #ee790c;
                    border-radius: 50px;
                    height: 24px;
                    width: auto;
                    border: none;
                    @include font(14px, 24px, 400);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                }
            }

            &-overview {
                margin-top: 80px;
                width: 100%;
                border: 1px solid #e0e0e0;
                border-radius: 6px;
                padding: 28px 35px;

                & h4 {
                    @include font(17px, 30px, 500);
                    color: $font-color-primary;
                    margin-bottom: 30px;
                }

                @include media("lg") {
                    width: 100%;
                }

                &-item {
                    &-list {
                        display: flex;
                        flex-wrap: wrap;

                        &-post1 {
                            flex: 0 0 33%;
                            padding: 15px;

                            &-info {
                                display: flex;

                                & i {
                                    font-size: 18px;
                                    color: $font-color-primary;
                                    margin-right: 15px;
                                }

                                & h6 {
                                    color: $font-color-primary;
                                    @include font(17px, 17px, 400);
                                    margin-bottom: 5px;
                                }

                                & p {
                                    @include font(15px, 25px, 400);
                                    color: $font-color-secondary;
                                }
                            }
                        }

                        &-post2 {
                            flex: 0 0 23%;
                            padding: 15px;

                            &-info {
                                display: flex;

                                & i {
                                    font-size: 23px;
                                    color: $font-color-primary;
                                    margin-right: 15px;
                                }

                                & h6 {
                                    color: $font-color-primary;
                                    @include font(17px, 17px, 400);
                                    margin-bottom: 5px;
                                }

                                & p {
                                    @include font(15px, 25px, 400);
                                    color: $font-color-secondary;
                                }
                            }
                        }

                        &-post3 {
                            flex: 0 0 30%;
                            padding: 15px;

                            &-info {
                                display: flex;

                                & i {
                                    font-size: 23px;
                                    color: $font-color-primary;
                                    margin-right: 15px;
                                }

                                & h6 {
                                    color: $font-color-primary;
                                    @include font(17px, 17px, 400);
                                    margin-bottom: 5px;
                                }

                                & p {
                                    @include font(15px, 25px, 400);
                                    color: $font-color-secondary;
                                }
                            }
                        }

                        &-post4 {
                            flex: 0 0 60%;
                            padding: 15px;

                            &-info {
                                display: flex;

                                & i {
                                    font-size: 23px;
                                    color: $font-color-primary;
                                    margin-right: 15px;
                                }

                                & h6 {
                                    color: $font-color-primary;
                                    @include font(17px, 17px, 400);
                                    margin-bottom: 5px;
                                }

                                & p {
                                    @include font(15px, 25px, 400);
                                    color: $font-color-secondary;
                                }
                            }
                        }
                    }

                    &-applyBtn {
                        & a {
                            cursor: pointer;
                            text-decoration: none;
                            background-color: $background-primary;
                            color: $color-white !important;
                            border: none;
                            border-radius: 3px;
                            height: 54px;
                            width: 200px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            @include font(17px, 27px, 600);
                            transition: all 0.2s linear;

                            &:hover {
                                color: $color-black !important;
                                background-color: $color-primary;
                                transition: all 0.2s linear;
                            }
                        }
                    }
                }
            }

            &-position {
                margin-top: 60px;

                // max-width: 696px;
                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-whatDo {
                margin-top: 40px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & li {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                    max-width: 696px;
                    padding-bottom: 5px;
                    list-style-type: none;

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

                & li::before {
                    content: "•";
                    color: $font-color-secondary;
                    display: inline-block;
                    width: 15px;
                    font-size: 18px;
                }
            }

            &-mustHave {
                margin-top: 40px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & li {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                    // max-width: 696px;
                    padding-bottom: 5px;
                    list-style-type: none;

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

                & li::before {
                    content: "•";
                    color: $font-color-secondary;
                    display: inline-block;
                    width: 15px;
                    font-size: 18px;
                }
            }

            &-bonusPoint {
                margin-top: 40px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & li {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                    // max-width: 696px;
                    padding-bottom: 5px;
                    list-style-type: none;

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

                & li::before {
                    content: "•";
                    color: $font-color-secondary;
                    display: inline-block;
                    width: 15px;
                    font-size: 18px;
                }
            }

            &-education {
                margin-top: 40px;
                max-width: 696px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-salary {
                margin-top: 40px;
                max-width: 696px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-hours {
                margin-top: 40px;
                max-width: 696px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-days {
                margin-top: 40px;
                max-width: 696px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-benifits {
                margin-top: 40px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & li {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                    max-width: 696px;
                    padding-bottom: 5px;
                    list-style-type: none;

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

                & li::before {
                    content: "•";
                    color: $font-color-secondary;
                    display: inline-block;
                    width: 15px;
                    font-size: 18px;
                }
            }

            &-process {
                margin-top: 40px;

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & li {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                    max-width: 696px;
                    padding-bottom: 5px;
                    list-style-type: none;

                    &:last-child {
                        padding-bottom: 0px;
                    }
                }

                & li::before {
                    content: "•";
                    color: $font-color-secondary;
                    display: inline-block;
                    width: 15px;
                    font-size: 18px;
                }
            }

            &-statement {
                margin-top: 40px;
                // max-width: 696px;
                margin-bottom: 40px;

                @include media("lg") {
                    margin-bottom: 0px;
                }

                & h2 {
                    @include font(28px, 75px, 500);
                    color: $font-color-primary;
                }

                & p {
                    @include font(17px, 30px, 400);
                    color: $font-color-secondary;
                }
            }

            &-applyButton{
                margin-top: 40px;
                & a {
                    cursor: pointer;
                    text-decoration: none;
                    background-color: $background-primary;
                    color: $color-white !important;
                    border: none;
                    border-radius: 3px;
                    height: 54px;
                    width: 200px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    @include font(17px, 27px, 600);
                    transition: all 0.2s linear;

                    &:hover {
                        color: $color-black !important;
                        background-color: $color-primary;
                        transition: all 0.2s linear;
                    }
                }
            }
        }

        &-form {
            width: 100%;
            box-shadow: 0px 10px 30px rgba(99, 99, 99, 0.25);
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            @include media("lg") {
                width: 444px;
                max-height: 1170px;
            }

            & h4 {
                margin-bottom: 50px;
                text-align: center;
                padding: 20px 0px;
                background-color: $background-primary;
                color: $color-white;

                @include media("lg") {
                    @include font(20px, 14px, 600);
                    padding: 40px 0px;
                }
            }

            &-input {
                padding: 0px 30px;
                margin-bottom: 40px;

                & p {
                    @include font(16px, 26px, 400);
                    color: $font-color-secondary;
                    margin-bottom: 20px;

                    @include media("lg") {
                        @include font(18px, 14px, 400);
                    }

                    span {
                        color: red;
                    }
                }

                .form-group {
                    margin-bottom: 1.5rem;
                }
            }

            & button {
                display: block;
                height: 50px;
                background-color: $bg-color-primary;
                border-radius: 3px;
                border: none;
                padding: 10px;
                margin: 0px 30px 50px 30px;
                color: $color-black;

                @include font(14px, 14px, 500);

                @include media("lg") {
                    @include font(18px, 14px, 500);
                }
            }
        }
    }
}