@import "variables";
@import "abstracts/mixins";
@import "abstracts/breakpoints";



.call-action {
  min-height: 347px;
  position: relative;
  background-color: $background-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  @include media("lg") {
    min-height: 447px;
  }

  &__left {
    & img {
      display: none;
      @include media("lg") {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }
  }

  &__right {
    & img {
      display: none;
      @include media("lg") {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
      }
    }
  }

  &__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--customlink {
      a {
        margin-top: 30px !important;
      }
    }

    & h1 {
      color: $color-black;
      @include font(32px, 42px, 700);
      margin-bottom: 15px;
      @include media("lg") {
        @include font(40px, 50px, 700);
      }
    }

    & p {
      @include font(22px, 32px, 500);
      color: $font-color-secondary;
      @include media("lg") {
        @include font(28px, 38px, 500);
      }
    }

    & a {
      margin-top: 50px;
      text-decoration: none;
      background-color: $background-primary;
      color: $color-white;
      border: none;
      border-radius: 3px;
      padding: 15px 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font(32px, 42px, 600);
      transition: all 0.3s linear;
      &:hover {
        background-color: $color-primary;
        color: $color-black;
        transition: all 0.3s linear;
      }
    }
  }
}

.ecommerce__block {
  position: relative;
  background-color: #D8E8EA;
  padding: 15px 30px;
  overflow: hidden;
  &--radial {
    a {
      position: absolute;
      background: #FFA755;
      color: #fff !important;
      right: -45px;
      height: 100px;
      border-radius: 100px;
      width: 100px;
      bottom: -50px; 
      margin: 0;
      padding: 0;
      display: unset;   
      &:hover {
        background: #155263 !important;
      }
    }
    i {
      position: absolute;
      left: 20px;
      top: 10px;
    }
  }
  img {
    width: 320px;
  }
}
