.footer-section {
  padding: 70px 0px;
  background: #002c38;
  background-image: url(../images/footerBg.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  @include media("lg") {
    padding: 100px 0px;
  }
  &__content {
    display: block;
    @include media("lg") {
      display: flex;
    }
    // &-company {
    //   width: 100%;
    //   color: $color-white;
    //   margin-bottom: 50px;
    //   @include media("lg") {
    //     width: 25%;
    //     margin-bottom: 30px;
    //   }
    //   & h4 {
    //     margin-bottom: 20px;
    //   }

    //   & a {
    //     display: block;
    //     text-decoration: none;
    //     margin-bottom: 10px;
    //     color: #bdbdbd;
    //     @include media("lg") {
    //       @include font(17px, 27px, 400);
    //     }
    //     &:hover {
    //       color: $color-white;
    //     }
    //   }
    // }
    &-resources {
      width: 100%;
      color: $color-white;
      margin-bottom: 50px;
      @include media("lg") {
        width: 33.33%;
        margin-bottom: 30px;
      }
      & h4 {
        margin-bottom: 20px;
      }

      & a {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        color: #bdbdbd;
        @include media("lg") {
          @include font(17px, 27px, 400);
        }
        &:hover {
          color: $color-white;
        }
      }
    }
    &-services {
      width: 100%;
      color: $color-white;
      margin-bottom: 50px;
      @include media("lg") {
        width: 33.33%;
        margin-bottom: 30px;
      }
      & h4 {
        margin-bottom: 20px;
      }

      & a {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        color: #bdbdbd;
        @include media("lg") {
          @include font(17px, 27px, 400);
        }
        &:hover {
          color: $color-white;
        }
      }
    }
    &-contact {
      width: 100%;
      color: $color-white;
      margin-bottom: 50px;
      @include media("lg") {
        width: 33.33%;
        margin-bottom: 30px;
      }
      & h4 {
        margin-bottom: 20px;
      }
      &--address {
        color: #bdbdbd;
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: $color-white;
        }
        & i {
          margin-right: 10px;
        }

        & p {
          @include font(17px, 27px, 400);
        }
      }
    }
  }

  &__link {
    margin-top: 40px;
    text-align: center;
    @include media("lg") {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-content {
      margin-bottom: 20px;
      @include media("lg") {
        margin-bottom: 0;
      }
      & p {
        color: #bdbdbd;
        & a {
          color: #bdbdbd;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-icon {
      & a {
        text-decoration: none;
        & i {
          margin-left: 10px;
          font-size: 20px;
          background-color: $color-white;
          color: $font-color-primary;
          border: 1px solid $color-white;
          display: inline-flex;
          flex-direction: column;
          height: 40px;
          width: 40px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
    }
  }
}
