@import "variables";
@import "abstracts/breakpoints";
@import "abstracts/mixins";

/*----------------- Global Title-------------------------- */

.headline-title {
  text-align: center;
  margin-bottom: 70px;
  @include media("lg") {
    padding-bottom: 100px;
    max-width: 950px;
    margin: 0 auto;
  }
  & span {
    color: $font-color-primary;
    text-transform: uppercase;
    @include font(20px, 30px, 700);
    @include media("lg") {
      @include font(22px, 32px, 700);
    }
  }

  & h2 {
    color: $color-black;
    letter-spacing: 0.5px;
    @include font(32px, 42px, 700);
    margin: 10px 0px;
    @include media("lg") {
      @include font(48px, 58px, 700);
      margin: 15px 0px;
    }
  }

  & h3 {
    color: $font-color-secondary;
    @include font(16px, 26px, 400);
    max-width: 600px;
    margin: 0 auto;
    @include media("lg") {
      @include font(18px, 28px, 400);
    }
  }

  & p {
    color: $font-color-secondary;
    @include font(16px, 26px, 400);
    max-width: 600px;
    margin: 0 auto;
    @include media("lg") {
      @include font(18px, 28px, 400);
    }
  }
}

/*----------------- Global Title-------------------------- */

/*----------------- Global FAQ---------------------------- */
.global-faq {
  & h5 {
    font-family: $font-primary;
    color: $color-black;
    @include font(18px, 28px, 500);
    letter-spacing: 0.5px;
    @include media("lg") {
      @include font(20px, 28px, 600);
    }
  }

  &__icon {
    cursor: pointer;
    color: $color-primary;
    -webkit-text-stroke: 1.3px white;
    font-size: 20px;
  }

  &__ansItem {
    margin-top: 20px;
    & span {
      color: $font-color-secondary;
      @include font(15px, 25px, 400);
      @include media("lg") {
        @include font(17px, 27px, 400);
      }
    }
  }
}

/*----------------- Global FAQ---------------------------- */

.border-shadow {
  border: 1px solid #f7f7f7;
}
/*----------------- Errer Modal--------------------------- */
.error-modal {
  text-align: center;

  & i {
    color: red;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.success-modal {
  text-align: center;

  & i {
    color: green;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
/*----------------- Errer Modal--------------------------- */

.margin-lg-bottom {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.margin-bottom {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .margin-bottom {
    margin-bottom: 0px;
  }
}

.margin-bottom-col {
  margin-bottom: 30px;
}

.margin-md-top {
  margin-top: 30px;
}
.margin-lg-top {
  margin-top: 30px;
}

.horizontal-border {
  border-top: 0.5px solid $background-secondary;
  margin: 20px 0px;
}

.pageLink a{
  color: #4f4f4f;
  text-decoration: none !important;
}
.pageLink a:hover,
.pageLink a:focus{
  color: #4f4f4f;
  text-decoration: none !important;
}
