//Color
$color-primary: #FFA755;
$color-secondary: #155263;

$color-white: #FFFFFF;
$color-black: #171717;

$background-primary: #155263;
$background-secondary: #EDF8F8;
$background-tertiary: #f3f4f6;

//Font
$default-font-size: 17px;
$font-color-primary: #155263;
$font-color-secondary: #4F4F4F;
$font-color-tertiary: #2ec5ce;

$font-primary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;

//Background
$bg-color-primary: #ffa755;
$bg-color-secondary: #464746;
$bg-color-white: #ffffff;
$bg-color-light: #f7f7f7;
